 body{
	margin: 0;
	padding: 0;
	word-wrap:break-word;
	text-decoration: none;
	line-height: 1.7;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6{

}

ol, ul {
	list-style: none;

}
